<div class="form__control">
    <div class="form__control-prefix">
        <img [ngSrc]="iconUrl()" width="30" height="30" alt="icon" />
    </div>
    <input
        class="form__input"
        [type]="type()"
        [placeholder]="placeholder()"
        [disabled]="disabled"
        (input)="handleInput($event)"
    />
    @if (iconUrlPostfix()) {
        <div class="form__control-postfix">
            <img [ngSrc]="iconUrlPostfix()" width="30" height="30" alt="icon" />
        </div>
    }
</div>
