.form__control {
    display: flex;
    align-items: center;
    background-color: #2b2f3a;
    border-radius: 16px;
    padding: 12px 6px 12px 12px;
}

.form__control-element {
    width: 316px;
    display: flex;
    align-items: center;
    background-color: #2b2f3a;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #b0b0b0;
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.form__control-prefix {
    width: 30px;
    height: 30px;
    padding-right: 1rem;
}

.form__control-postfix {
    width: 30px;
    height: 30px;
    padding-right: 1rem;
}

.form__control-button {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
}
