<div class="layout__wrapper">
    @if (error) {
        <div class="layout__errors">{{ error }}</div>
    }

    <form class="layout__form" [formGroup]="form">
        <img class="layout__logo" alt="" [src]="Images.Logo" />
        <p class="layout__text">Вход</p>
        <app-input
            formControlName="email"
            type="text"
            placeholder="Email"
            [iconUrl]="Icons.Email"
        />
        @if (this.form.controls.email.invalid && this.form.controls.email.touched) {
            @if (this.form.controls.email.errors?.['required']) {
                <span>email обязателен</span>
            }
            @if (this.form.controls.email.errors?.['email']) {
                <span>email не сооьветсвует шаблону</span>
            }
        }
        <app-password-input formControlName="password" placeholder="Password" />
        @if (this.form.controls.password.invalid && this.form.controls.password.touched) {
            @if (this.form.controls.email.errors?.['required']) {
                <span>password обязателен</span>
            }
            @if (this.form.controls.password.errors?.['noSpaces']) {
                <span>password не должно быть пробелов</span>
            }
        }
        <app-button
            [disabled]="this.invalid()"
            type="submit"
            label="Войти"
            (btnClicked)="onLoginClick()"
        />
    </form>
</div>
