<div class="layout__wrapper">
    @if (error) {
        <div class="layout__errors">{{ error }}</div>
    }

    <form class="layout__form" [formGroup]="form">
        <img class="layout__logo" alt="" [src]="Images.Logo" />
        <p class="layout__text">Вход</p>
        <app-input
            formControlName="email"
            type="text"
            placeholder="Email"
            [iconUrl]="Icons.Email"
        />
        @if (this.form.controls.email.invalid && this.form.controls.email.touched) {
            <span>Ошибка поля email</span>
        }
        <app-password-input formControlName="password" placeholder="Password" />
        @if (this.form.controls.password.invalid && this.form.controls.password.touched) {
            <span>Ошибка поля password</span>
        }
        <app-button
            [disabled]="this.invalid()"
            type="submit"
            label="Войти"
            (btnClicked)="onLoginClick()"
        />
    </form>
</div>
